@tailwind base;
@tailwind components;
@tailwind utilities;

main.light-theme {
  --black: #0b2535;
  --dark: #207ab3;
  --light: #62b6cb;
  --white: #eef4ed;

  --background-color: var(--white);
  --text-color: var(--black)
}

main.dark-theme {
  --black: #0b2545;
  --dark: #13315c;
  --light: #778da9;
  --white: #eef4ed;

  --background-color: var(--black);
  --text-color: var(--white)
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
}

main.dark-theme a:hover {
  color: var(--light);
}

main.light-theme a:hover {
  color: var(--dark);
}

a {
  text-decoration: dotted underline;
}


