:root {
  --pass: #00ff00;
  --fail: #ff0000;
  --stall: #0000ff;
}
.Pass {
  background-color: var(--pass);
  color: var(--black);
}
.Fail {
  background-color: var(--fail);
  color: var(--black);
}
.Stall {
  background-color: var(--stall);
  color: var(--white);
}
